@use "../abstracts/" as *;

.main-page {
  background-color: $bg-list-color;
  padding: {
    top: 20px;
    left: 40px;
    right: 40px;
    bottom: 20px;
  }
  border-radius: 5px;

  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));

  &__line-style {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $font-list-color;
    border: 3px solid $font-list-color;
    border-radius: 4px;
    padding: {
      top: 20px;
      left: 15px;
      right: 15px;
      bottom: 10px;
    }
    &__title {
      font: {
        size: 50px;
        style: italic;
        family: "Inter", sans-serif;
      }
      padding-bottom: 50px;
    }
    &__moreTodo {
      display: flex;
      padding-bottom: 10px;
    }
  }
}

.editor-area {
  @include flex-center;
  &__textarea {
    @include textarea-style;
    width: 250px;
    background-color: $bg-editorbox-color;

    &:focus {
      border-bottom: 2px solid $font-list-color;
    }
  }

  .submitBtn {
    margin: {
    }
  }
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list-item {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 10px;
  padding: 5px;
  border: {
    color: $bg-list-color;
    bottom: 2px solid;
  }

  // input[type="checkbox"] {
  // }

  .item-title {
    @include flex-center;
  }

  .item-btns {
    align-self: flex-end;
  }

  .item-edit {
    @include textarea-style;
    background-color: $bg-list-color;
  }
}
