@mixin flex-center($flex-direction: row) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: center;
  justify-content: center;
}

@mixin hand-drawn-style {
  font-family: "Nanum Pen Script";
  align-self: center;
  background: transparent;
  // padding: 0.5rem 0.8rem;
  // margin: 0 0.4rem;
  transition: all 0.5s ease;
  color: #41403e;
  // font-size: 1rem;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

@mixin textarea-style {
  height: 28px;
  font: {
    family: "Nanum Pen Script";
    size: 18px;
  }
  padding: {
    top: 9px;
    left: 15px;
    right: 100px;
  }
  border: none;
  resize: none;
  &:focus {
    outline: none;
  }
}
