@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Nanum+Pen+Script&family=Roboto:ital,wght@0,500;0,700;1,400&display=swap");
.main-page {
  background-color: #e6efc9;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  border-radius: 5px;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12)) drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14)) drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12)) drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
}
.main-page__line-style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #2d5d29;
  border: 3px solid #2d5d29;
  border-radius: 4px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}
.main-page__line-style__title {
  font-size: 50px;
  font-style: italic;
  font-family: "Inter", sans-serif;
  padding-bottom: 50px;
}

.editor-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.editor-area__textarea {
  height: 28px;
  font-family: "Nanum Pen Script";
  font-size: 18px;
  padding-top: 9px;
  padding-left: 15px;
  padding-right: 100px;
  border: none;
  resize: none;
  width: 250px;
  background-color: #f4f7da;
}
.editor-area__textarea:focus {
  outline: none;
}
.editor-area__textarea:focus {
  border-bottom: 2px solid #2d5d29;
}
.list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list-item {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 10px;
  padding: 5px;
  border-color: #e6efc9;
  border-bottom: 2px solid;
}
.list-item .item-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.list-item .item-btns {
  align-self: flex-end;
}
.list-item .item-edit {
  height: 28px;
  font-family: "Nanum Pen Script";
  font-size: 18px;
  padding-top: 9px;
  padding-left: 15px;
  padding-right: 100px;
  border: none;
  resize: none;
  background-color: #e6efc9;
}
.list-item .item-edit:focus {
  outline: none;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fef4e0;
  font-size: 34px;
  font-family: "Roboto", sans-serif;
  font-family: "Nanum Pen Script";
}

#root {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  font-family: "Nanum Pen Script";
  align-self: center;
  background: transparent;
  padding: 0.5rem 0.8rem;
  margin: 0 0.4rem;
  transition: all 0.5s ease;
  color: #41403e;
  font-size: 1rem;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header div {
  margin: 20px;
}
header div a {
  margin: 30px;
  text-decoration-line: none;
  color: #2d5d29;
}

.skeleton {
  position: relative;
  overflow: hidden;
  width: 180px;
  height: 30px;
  margin: 5px;
  border-radius: 10px;
  background-color: #d4deb9;
}

.list-modal {
  width: 400px;
  height: 180px;
  border-radius: 12px;
  background-color: #e6efc9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list-modal-background {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}
.list-modal__info-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list-modal__info-area__date {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.list-modal__info-area__edit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 90px;
}
.list-modal__info-area__textarea {
  height: 28px;
  font-family: "Nanum Pen Script";
  font-size: 18px;
  padding-top: 9px;
  padding-left: 15px;
  padding-right: 100px;
  border: none;
  resize: none;
  background-color: #e6efc9;
  padding-top: 9px;
  padding-left: 15px;
  padding-right: 0;
}
.list-modal__info-area__textarea:focus {
  outline: none;
}/*# sourceMappingURL=main.css.map */