@use "pages";
@use "abstracts" as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Nanum+Pen+Script&family=Roboto:ital,wght@0,500;0,700;1,400&display=swap");

body {
  @include flex-center;
  background-color: $bg-color;
  color: $font-list-color;
  font-size: 34px;
  font-family: "Roboto", sans-serif;
  font-family: "Nanum Pen Script";
}

#root {
  width: 100%;
  @include flex-center;
  flex-direction: column;
}

button {
  // border: none;
  // border-radius: 5px;

  // padding: 4px 10px;
  // margin: 4px;
  // color: $font-button-color;
  // background-color: $bg-button-color;
  // white-space: nowrap;

  font-family: "Nanum Pen Script";

  align-self: center;
  background: transparent;
  padding: 0.5rem 0.8rem;
  margin: 0 0.4rem;
  transition: all 0.5s ease;
  color: #41403e;
  font-size: 1rem;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

header {
  @include flex-center;

  div {
    margin: 20px;
    a {
      margin: 30px;
      text-decoration-line: none;
      color: $font-list-color;
    }
  }
}

.skeleton {
  position: relative;
  overflow: hidden;
  width: 180px;
  height: 30px;
  margin: 5px;
  border-radius: 10px;
  background-color: $bg-skeleton-color;
}

.list-modal {
  width: 400px;
  height: 180px;
  border-radius: 12px;
  background-color: $bg-list-color;
  @include flex-center(column);
  &-background {
    @include flex-center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__info-area {
    @include flex-center(column);

    &__date {
      font-size: 15px;
      @include flex-center;
    }

    &__edit {
      @include flex-center;
      padding-left: 90px;
    }

    &__textarea {
      @include textarea-style;
      background-color: $bg-list-color;

      padding: {
        top: 9px;
        left: 15px;
        right: 0;
      }
    }
  }

  &__bookmark-title {
    padding-bottom: 20px;
  }
}

.bookmark {
  width: 320px;
  height: 300px;
}
